<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="xappEntities" connectionString="metadata=res://*/xApp.csdl|res://*/xApp.ssdl|res://*/xApp.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=xapp&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>